#login-main {
    min-height: 80px;
}

.main-label-text {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 6px;
    transition: color 0.5s;
}

.error-text {
    color: red;
}

.login-field {
    width: 200px;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 3px 6px;
    border-style: solid;
    border-radius: 3px;
}

.login-field:focus {
    outline-color: orangered;
}

#login-form button {
    background-color: steelblue;
    color: white;
    text-shadow: 0 0 2px black;
    padding: 3px 6px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
}

.attention-buttons {
    width: 216px;
    font-size: x-small;
    background-color: steelblue;
    color: white;
    text-shadow: 0 0 2px black;
    padding: 3px 6px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
}

#registration-dialog {
    padding: 5px 15px 30px 20px;
    border-radius: 10px;
}

#registration-dialog h4 {
    margin-top: 0;
}

#dialog-button-container {
    display: flex;
    flex-direction: row-reverse;
}

.form-element-wrapper {
    display: flex;
    flex-direction: column;
}

.form-element-wrapper label {
    font-weight: 500;
}

#about-textarea {
    width: 200px;
    height: 15px;
    margin-bottom: 8px;
    padding: 3px 6px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    transition: height 0.3s;
}

#about-textarea:focus {
    height: 150px;
    outline-color: orangered;
}

#registration-dialog-message {
    margin-bottom: 20px;
    max-width: 285px;
    font-weight: 500;
}

@media (hover: hover) {
    #login-form button:hover {
        background-color: orangered;
    }

    .attention-buttons:hover {
        background-color: orangered;
    }

    #dialog-button-container svg:hover {
        /* filter: drop-shadow(0 0 0.25rem rgba(15, 6, 129, 0.5)); */

        circle, path {
            stroke: orangered;
        }
    }
}