<div id="login-main">

    <div *ngIf="getSubjectId() === undefined" class="login-content">
        <p class="main-label-text" [class.error-text]="loginRequestErrorHappened()">
            {{ getLoginLabelText() }}
        </p>
        <form #loginForm="ngForm" (submit)="login(loginForm)" id="login-form">
            <input type="email" class="login-field" name="email" placeholder="EMAIL ADDRESS" required ngModel/>
            <input *ngIf="loginForm.value.email?.length > 0" type="password" class="login-field" name="password" placeholder="PASSWORD" required ngModel/>
            <button *ngIf="loginForm.value.password?.length > 0" type="submit" id="login-button" [disabled]="isLoginButtonDisabled()">
                LOG IN
            </button>
            <br/>
            <button id="registration-button" class="attention-buttons" (click)="showRegistrationDialog(loginForm.value.email); $event.preventDefault()">
                REGISTER NEW ACCOUNT
            </button>
        </form>
    </div>

    <div *ngIf="getSubjectId() != undefined" class="login-content">
        <p class="main-label-text">
            LOGGED IN AS: 
            <span style="color: rgb(15, 15, 90); letter-spacing: 0.1rem; font-weight: 500;">{{ getSubjectId() }}</span>!
        </p>
        <button id="logout-button" class="attention-buttons" (click)="logoutUser()">
            LOG OUT
        </button>
    </div>

</div>

<dialog id="registration-dialog">
    <div>
        <div id="dialog-button-container" (click)="closeRegistrationDialog()">
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"/>
                <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </div>
        <h4>Welcome on our page!</h4>
        <p>Fill the following form to create a new account:</p>
        <form #registrationForm="ngForm" (submit)="register(registrationForm)" id="registration-form" ngNativeValidate>
            <div class="form-input-container">
                <div class="form-element-wrapper">
                    <label for="email-input">Email Address:</label>
                    <input type="email" class="login-field" name="email" placeholder="EMAIL ADDRESS" id="email-input" [value]="getEmailToRegister()" required ngModel autofocus/>
                </div>
                <div class="form-element-wrapper">
                    <label for="password-first-input">Password:</label>
                    <input type="password" class="login-field" name="passwordfirst" placeholder="PASSWORD" id="password-first-input" required ngModel minlength="6"/>
                </div>
                <div class="form-element-wrapper">
                    <label for="password-second-input">Password Again:</label>
                    <input type="password" class="login-field" name="passwordsecond" placeholder="PASSWORD AGAIN" id="password-second-input" required ngModel/>
                </div>
                <div class="form-element-wrapper">
                    <label for="first-name-input">First Name:</label>
                    <input type="text" class="login-field" name="firstname" placeholder="FIRST NAME" id="first-name-input" required ngModel/>
                </div>
                <div class="form-element-wrapper">
                    <label for="last-name-input">Last Name:</label>
                    <input type="text" class="login-field" name="lastname" placeholder="LAST NAME" id="last-name-input" required ngModel/>
                </div>
                <div class="form-element-wrapper">
                    <label for="about-textArea">Write something about yourself (optional):</label>
                    <textarea name="about" id="about-textarea" cols="25" rows="10" placeholder="ABOUT" ngModel></textarea>
                </div>
                <div class="form-element-wrapper">
                    <input type="submit" class="attention-buttons" value="SUBMIT" [disabled]="isRegistrationButtonDisabled()"/>
                </div>
            </div>
        </form>
        <p id="registration-dialog-message" [class.error-text]="registrationRequestErrorHappened()" style="white-space: pre-line">
            {{ getRegistrationMessage() }}
        </p>
    </div>
</dialog>


