#posts-header {
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 5px;
}

#click-to-clear-message {
    opacity: 0;
    transition: opacity 0.5s;
}

#posts-main {
    max-width: 590px;
    height: 64vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(70, 131, 180, 0.05) azure;
    scrollbar-width: thin;
    transition: scrollbar-color 0.3s ease-in;
}

#posts-list {
    list-style: none;
    margin: 0;
    padding: 8px 0 0 0;
}

.post-element {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px rgba(70, 131, 180, 0.25);
    margin: 3px 8px 20px 3px;
}

.private-post-element {
    border: 2px solid indigo;
}

.private-post-header {
    width: 100%;
    background-color: indigo;
    display: flex;
    justify-content: center;
}

.private-post-header-text {
    font-size: x-small;
    font-weight: bold;
    background-color: white;
    border-radius: 3px;
    margin: 5px 10px 5px 10px;
    padding: 3px 6px 3px 6px;
}

.article-padding {
    padding: 10px;
}

.post-element-content {
    font-weight: 500;
    padding-bottom: 10px;
}

.post-element-author {
    font-size: small;
    border-top-width: 2px;
    border-top-style: solid;
    padding: 2px 20px 10px 20px;
}

.post-element-byauthor {
    cursor: pointer;
}

.own-post-footer {
    width: 100%;
}

.private-post-footer {
    background-color: indigo;
}

.own-post-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px 10px;
    padding: 3px 10px 3px 10px;

}

.own-post-button-element {
    cursor: pointer;
    transition: transform 0.3s;
}

.own-post-footer-text {
    font-size: x-small;
    margin-bottom: 4px;
}

.delete-confirmation-wrapper {
    position: relative;
    padding: 8px 12px;
    top: 10px;
}

.delete-confirmation-dialog {
    margin: 0;
    box-shadow: 0 0 3px 2px rgba(70, 131, 180);
}

#load-posts-button {
    width: 100%;
    outline: none;
    border: 0;
    font-weight: 500;
    color: #333;
    background-color: azure;
    text-shadow: 1px 1px 2px darkgrey;
    cursor: pointer;
    transition: all 0.3s;
}

#posts-message {
    font-size: small;
    text-align: center;
    transition: opacity 0.5s;
    cursor: default;
}

#not-authenticated-message {
    margin-top: 15%;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline overline rgba(255, 68, 0, 0.8) 3px;
}

.background-text {
    position: relative;
    top: 10vh;
    left: 5%; 
    font-size: 10rem;
    opacity: 0.07;
    cursor: default;
    overflow: hidden;
}

*:disabled {
    opacity: 0.66;
    cursor: not-allowed !important;
}

@media (hover: hover) {
    #posts-header:hover {

        #click-to-clear-message {
            opacity: 1;
        }
    }

    .post-element-byauthor:hover {
        color: orangered;
    }

    #posts-main:hover {
        scrollbar-color: rgba(70, 131, 180, 0.25) azure;
    }

    .own-post-button-element:hover {
        transform: translateY(-2px);
    }

    #load-posts-button:hover {
        color: orangered;
        text-shadow: 1px 2px 3px darkgrey;
    }
}

@media screen and (max-width: 400px) {
    #posts-main {
        max-height: 59vh;
    }
}