:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainWrapper {
    display: flex;
    width: 90%;
    max-width: 700px;
}

#nav-bar {
    height: 75vh;
    background-color: azure;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#nav-bar::-webkit-scrollbar {
    display: none;
}

.nav-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 8px;
}

.nav-element-text {
    margin: 3px 0;
    font-weight: bold;
    text-align: center;
}

.nav-svgs {
    fill: #333;
    height: 42px;
    width: 42px;
}

.nav-hr {
    color: #333;
    width: 60%;
}

@media (hover: hover) {
    .nav-element {
        cursor: pointer;
        transition: all ease;
        transition-duration: 0.5s;
    }

    .nav-element:hover {
        transform: translateY(-2px);
        color: orangered;
        filter: drop-shadow(0 0 0.25rem rgba(15, 6, 129, 0.5));

        .nav-svgs {
            fill: orangered
        }
    }
}

#main-container {
    flex-grow: 2;
    height: 75vh;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: steelblue;
    padding-left: 12px;
}