<div id="home-container">
    <div id="title-container">
        <h1 id="project-title">DEMO BLOG PROJECT</h1>
        <div id="author-container">
            <h4 id="author">Dávid Remetei</h4>
        </div>
    </div>
    <div id="home-content">
        This is a junior software development project to learn and practice microservice architecture and its tools in Java Spring Boot. The frontend was an extension because I like building Angular applications too. :)
        <br/><br/>
        You can find the source code on <a href="https://github.com/David120000/sb_ng_blogportal_microservices_mvc" target="_blank">Github</a>.
    </div>
</div>